.dialog-window{
     padding: 10px;
     position: fixed;
     left: 25%;
     right: 30%;
     bottom: 30%;
     top: 25%;
     background-color: white;
     border: solid 2px gray;
     z-index: 1000;
     animation-name: fade;
     animation-duration: 0.5s;
 }
#overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.7);
}