.dialog-window{
     padding: 10px;
     position: fixed;
     left: 25%;
     right: 30%;
     bottom: 20%;
     top: 25%;
     background-color: white;
     border: solid 2px gray;
     z-index: 1000;
     animation-name: fade;
     animation-duration: 0.5s;
 }
#overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.7);
}

#submit_add_snow_from{
    position: absolute;
    bottom: 50%;
    left: 50%;
    padding: 30px;
    font-size: 30px;
}

#add_description{
    position: absolute;
    bottom: 75%;
    left: 50%;
}
#description_text{
    position: absolute;
    bottom: 80%;
    left: 50%;
}